In [1]:
import pickle
import pandas as pd

In [13]:
data = pickle.load( open( "data.pkl", "rb" ) )

In [14]:
data.head()

,Step,AgentID,Proxy,Goal,Goal_oc,Utility,Effort,Practice,Genealogy,Talent,Run
0,1,Company_0,none,none,none,none,none,none,none,none,0
1,1,100,6.90972,9.99745,7.22881,15.8906,10,0.194263,11,9.66882,0
2,1,99,6.92868,9.99801,7.21064,15.3359,10,0.805337,99,9.84967,0
3,1,98,7.27002,9.99593,6.86635,14.6298,10,0.756851,98,9.0155,0
4,1,97,6.94889,9.99853,7.19117,15.7225,10,0.80253,97,10.2237,0

In [15]:
company = data[data["Effort"] == "none"]

In [16]:
company.head()

,Step,AgentID,Proxy,Goal,Goal_oc,Utility,Effort,Practice,Genealogy,Talent,Run
0,1,Company_0,none,none,none,none,none,none,none,none,0
11,1,Company_1,none,none,none,none,none,none,none,none,0
22,1,Company_2,none,none,none,none,none,none,none,none,0
33,1,Company_3,none,none,none,none,none,none,none,none,0
44,1,Company_4,none,none,none,none,none,none,none,none,0

In [21]:
data = data[data['Effort']!= "none"]
data.reset_index(drop=True)
del data['index']
data.head()

,Step,AgentID,Proxy,Goal,Goal_oc,Utility,Effort,Practice,Genealogy,Talent,Run
0,1,100,6.90972,9.99745,7.22881,15.8906,10,0.194263,11,9.66882,0
1,1,99,6.92868,9.99801,7.21064,15.3359,10,0.805337,99,9.84967,0
2,1,98,7.27002,9.99593,6.86635,14.6298,10,0.756851,98,9.0155,0
3,1,97,6.94889,9.99853,7.19117,15.7225,10,0.80253,97,10.2237,0
4,1,96,6.91615,9.99765,7.22266,17.0809,10,0.807073,96,11.9073,0